<!-- createClassroom.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Adicionar Sala de aula</title>
</head>

<body>
  <h1>Adicionar Sala de aula</h1>
  <form action="{{ url_for('classes.create_classroom') }}" method="post">
    <label for="descricao">Descrição:</label><br>
    <input type="text" id="descricao" name="descricao"><br>
    <label for="professor_id">ID do professor:</label><br>
    <input type="number" id="professor_id" name="professor_id"><br>
    <label for="ativo">Ativo:</label>
      <select id="ativo" name="ativo">
          <option value="sim">Sim</option>
          <option value="nao">Não</option>
      </select>
    <input type="submit" value="Adicionar Sala de aula">
  </form>
</body>

</html>