<!-- teacher_update.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Atualizar Professor</title>
</head>

<body>
  <h1>Atualizar Professor</h1>
  <form id="update-form" action="{{ url_for('teachers.update_teacher', teacher_id=teacher.id) }}" method="POST">
    <input type="hidden" name="_method" value="POST">
    
    <label for="nome">Nome:</label>
    <input type="text" id="nome" name="nome" value="{{ teacher.nome }}">
    
    <label for="idade">Idade:</label>
    <input type="number" id="idade" name="idade" value="{{ teacher.idade }}">
    
    <label for="materia">Matéria:</label>
    <input type="text" id="materia" name="materia" value="{{ teacher.materia }}">
    
    <label for="observacoes">Observações:</label>
    <input type="text" id="observacoes" name="observacoes" value="{{ teacher.observacoes }}">
    
    <button type="submit">Atualizar Professor</button>
  </form>
  
  <a href="{{ url_for('teachers.get_teachers') }}">Voltar para a lista de professores</a>
</body>

</html>
